<div *ngIf="dataLoaded" style="margin: 10px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 gd-detail-margins">
        <span class="gd-bold-label">Name</span>
      </div>
      <div class="col-sm-4 gd-detail-margins">
        <span>{{vm.name}}</span>
      </div>
    </div>
    <div class="row gd-buttons-group-margins-details">
      <div id="gd-toggle-horiz-wrapper" class="col">
        <button type="button" class="k-button" style="margin-bottom: 5px;margin-right: 8px"
                (click)="onSthg()">
          DoSthg
        </button>
        <button type="button" class="k-button" style="margin-bottom: 5px;margin-right: 8px;background-color: rgb(153, 117, 101);border-color: rgb(153, 117, 101)"
                (click)="onSthg2()">
          DoSthg2
        </button>
      </div>
    </div>
  </div>
</div>
