<div class="k-block k-shadow gd-10-bottom-set" style="margin-top: 10px">
  <form class="k-form-inline">
    <fieldset>
      <legend i18n="@@confirmation">Potwierdzenie</legend>
      <div class="container-fluid">
        <div class="row">
          <span id="gd-toggle-horiz-wrapper" class="gd-10-bottom-set">
            {{questionInput}}
          </span>
        </div>
        <div id="gd-toggle-horiz-wrapper">
          <app-form-action [primaryButtonText]="yesMessage"
                           [secondaryButtonText]="noMessage"
                           (result)="onResult($event)"></app-form-action>
        </div>
      </div>
    </fieldset>
  </form>
</div>
